html {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Merriweather Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0 5px;
}

main {
  margin-bottom: 50px;
}

h1,
h2 {
  text-align: center;
}

nav {
  top: 0;
  color: black;
  text-align: center;
  padding: 5px 0;
}

nav {
    font-family: "Merriweather", serif;
}

nav a:link,
nav a:visited {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  margin-top: 8px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 9px;
}

a {
  color: #8f0000;
  text-decoration: none;
}

a:visited {
  color: #690000;
}

a:hover {
  color: #b60000;
}

hr {
  border: none;
  border-top: 1px dotted #5f5f5f;
  margin-bottom: 15px;
  clear: both;
}

.site-description {
  font-size: 14px;
  color: gray;
  /* text-align: start; */
  max-width: 450px;
  margin: 0 auto;
}

.button {
  height: 41px;
  color: white;
  background-color: #8f0000;
  border: none;
  border-radius: 7px;
}

.button:hover {
  background-color: #9e0202;
}

.movie-info {
  padding: 0 10px;
  overflow: hidden;
}

.movie-info img {
  float: left;
  margin: 0 20px 10px 0;
  width: 35%;
  border-radius: 3px;
}

.movie-info p {
  margin-top: 0;
}

.time-genres {
  margin-bottom: 20px;
}

.time-genres p {
  margin: 5px 0;
  font-size: 14px;
}

.person ul {
  padding-left: 40px;
  margin-top: 7px;
}

.person-info {
  padding: 0 10px;
  overflow: hidden;
}

.person-info img {
  float: left;
  margin: 0 15px 5px 0;
  width: 100px;
  border: 1px solid black;
}

.job-name {
  margin-bottom: 0;
  border: 1px solid white;
}

.job-name:hover {
  color: #4e4e4e;
  cursor: default;
  border: 1px dotted #dfdfdf;
}

.person-info p {
  margin: 0 0 10px;
  font-size: 14px;
}

.container {
  max-width: 550px;
  margin: 30px auto;
  padding: 0 13px;
  background-color: white;
  padding: 12px;
}

.search {
  height: 77px;
}

.search-form {
  display: grid;
  grid-template-columns: 1.3fr 0.8fr 0.5fr;
  grid-gap: 5px;
  align-items: center;
}

.search-form .text-input {
  width: 85%;
  height: 36px;
  padding-left: 6px;
}

.search-form .clickable {
  font-weight: bold;
}

.select-search {
  margin: 0 0 10px 20px;
  font-weight: bold;
}

.checkbox {
  margin-top: 15px;
  clear: left;
  padding: 0 5px;
}

.checkbox div {
  border-width: 1px;
  border-color: #dddddd;
  border-style: none none dotted;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1.8fr 0.2fr;
  align-items: center;
  margin: 0;
  padding: 5px 0;
}

.checkbox div input {
  height: 15px;
  justify-self: end;
}

.average-rating {
  margin-top: 60px;
  text-align: center;
}

.average-rating h4 {
  margin: 0;
}

.clickable:hover {
  cursor: pointer;
}

#average-rating {
  margin: 5px 0 20px;
  font-size: 2.5rem;
}

#select-search {
  text-align: center;
}

#search-person > input:nth-child(1) {
  grid-area: 1 / 1 / 1 / span 2;
  width: 94.5%;
}

#search-movie {
  grid-template-columns: 1.3fr 0.8fr 0.5fr;
}

@media (max-width: 300px) {
  .movie-info img {
    float: none;
    display: block;
    padding: 0;
    margin: 0 auto 10px;
    width: 80%;
    height: 100%;
  }
}

.div-to-deal-with-some-very-specific-problem-with-chrome-mobile {
  margin: 4rem auto;
  background-color: #fffff0;
  border: 1px solid #fffff0;
}
