{% extends "layout.html" %}

{% block title %}
Movie Ratings | {{ movies['genre']['name'] }}
{% endblock%}

{% block main %}
<div class="container">
    <h2>{{ movies['genre']['name'] }} movies</h2>
    <ul id="genre-movie-list">
        {% for movie in movies['movies']%}
        <li><a href="/movie/{{ movie['id'] }}">{{ movie['title'] }} {{ movie['year'] }}</a></li>
        {% endfor %}
    </ul>
    <a id="load-more" data-genre="{{ movies['genre']['name'] }}" data-id="{{ movies['genre']['id'] }}" href="#more">Load more</a>
</div>

<div class="div-to-deal-with-some-very-specific-problem-with-chrome-mobile"></div>
<script src="{{ url_for('static', filename='genre.js') }}"></script>
{% endblock %}