{% extends "layout.html" %}

{% block title %}
Movie Ratings
{% endblock%}

{% block main %}

<div class="container">
    <form class="search-small" action="/search" method="GET" autocomplete="off">
        <input type="text" name="t" placeholder="Title">
        <input type="number" name="y" placeholder="Year (optional)">
        <input type="submit" value="Search" class="clickable">
    </form>
</div>

<div class="container person">
    <h2>{{ info['name'] }}</h2>
    <div class="person-info">
        {% if info['profile_path'] %}
        <img src="https://www.themoviedb.org/t/p/w1280{{ info['profile_path'] }}" alt="{{ info['name'] }}">
        {% endif %}
        {% for p in info['biography'].split('\n\n') %}
        <p>{{ p }}</p>
        {% endfor %}
    </div>
    {% for job in jobs.keys()|sort %}
    <h4 class="job-name clickable" data-collapsed="true">{{ job }} ▸</h4>
    <ul class="job-list">
        {% for movie in jobs[job]|sort(attribute='year') %}
        <li><a href="/movie/{{ movie['id'] }}">{{ movie['title'] }} {{ movie['year'] }}</a></li>
        {% endfor %}
    </ul>
    {% endfor%}
</div>

<div class="div-to-deal-with-some-very-specific-problem-with-chrome-mobile"></div>
<script src="{{ url_for('static', filename='person.js') }}"></script>
{% endblock %}